:host {
  min-height: 100vh; /* Ensures the page takes full height */
  box-sizing: border-box;
}

// header {
//   margin-bottom: 20px; /* Adds space directly below the header */
// }

router-outlet {
  display: block;
  margin-top: 0; /* Remove extra top margin */
  padding-bottom: 30px; /* Ensures space for the footer */
  overflow-y: auto; /* Allows scrolling if the content overflows */
  box-sizing: border-box;
}
