.not-found-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the card to the top */
    height: calc(100vh - 70px - 45px); /* Adjust height to match the space between the header and footer */
    margin-top: 0; /* Remove any additional top margin */
    text-align: center;
    padding-top: 1rem; /* Add a small padding at the top */
  }
  
  .not-found-card {
    width: 400px;
    padding: 2rem;
  }
  