  <section>
        <div class="form-body">
          <h2 class="text-center " >Create an account</h2>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Enter username" formControlName="Username"/>
                    <mat-icon matSuffix>person</mat-icon>
                    @if (form.get('userName')?.hasError('required')) {
                      <mat-error>{{ getErrorMessage('userName') }}</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Enter email" formControlName="Email"/>
                    <mat-icon matSuffix>email</mat-icon>
                    @if ((form.get('Email')?.hasError('required') || form.get('Email')?.hasError('email'))) {
                      <mat-error>{{ getErrorMessage('Email') }}</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>National ID</mat-label>
                    <input matInput type="text" placeholder="Enter national ID" formControlName="Nid"/>
                    <mat-icon matSuffix>badge</mat-icon>
                    @if ((form.get('Nid')?.hasError('required') || form.get('Nid')?.hasError('pattern'))) {
                      <mat-error>{{ getErrorMessage('Nid') }}</mat-error>
                    }
                  </mat-form-field>
                

            
                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>Workspace Name</mat-label>
                    <input matInput type="text" placeholder="Enter workspace name" formControlName="WorkspaceName"/>
                    <mat-icon matSuffix>business</mat-icon>
                    @if (form.get('WorkspaceName')?.hasError('required')) {
                      <mat-error>{{ getErrorMessage('WorkspaceName') }}</mat-error>
                    }
                  </mat-form-field>
                </div>

                <div class="form-row">
                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter password" formControlName="Password"/>
                    <mat-icon matSuffix>lock</mat-icon>
                    @if ((form.get('Password')?.hasError('required') || form.get('Password')?.hasError('minlength'))) {
                      <mat-error>{{ getErrorMessage('Password') }}</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm password" formControlName="ConfirmPassword"/>
                    <mat-icon matSuffix>lock</mat-icon>
                    @if ((form.get('ConfirmPassword')?.hasError('required') || form.get('ConfirmPassword')?.hasError('minlength') || form.hasError('mustMatch'))) {
                      <mat-error>{{ getErrorMessage('ConfirmPassword') }}</mat-error>
                    }
                  </mat-form-field>
              

            
                  <mat-form-field appearance="outline" class="mb-4" floatLabel="always">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="tel" placeholder="Enter phone number" formControlName="PhoneNumber"/>
                    <mat-icon matSuffix>call</mat-icon>
                    @if (form.get('ConfirmPassword')?.hasError('required') || form.get('PhoneNumber')?.hasError('pattern') ) {
                      <mat-error>{{ getErrorMessage('PhoneNumber') }}</mat-error>
                    }
                  </mat-form-field>

                  <div class="form-row">
                    <label>Gender</label>
                    <div class="gender-selection">
                    <mat-radio-group formControlName="Gender" aria-label="Select Gender">
                      <mat-radio-button value="Male">Male</mat-radio-button>
                      <mat-radio-button value="Female">Female</mat-radio-button>                      @if (form.get('Gender')?.hasError('required')||form.get('Gender')?.hasError('maxLength')){
                        <mat-error>{{ getErrorMessage('Gender') }}</mat-error>
                      }
                    </mat-radio-group>
                  </div>
                </div>
                </div>
                  

                  <div class="form-actions">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Register</button>
                    <button mat-raised-button color="primary" type="button" (click)="resetData()">Reset</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">
                    Already have an account?
                    <a class="fw-bold text-body" [routerLink]="['/login']" routerLinkActive="mat-primary">
                      <u>Login here</u>
                    </a>
                  </p>

                </form>
              </div>

  </section>
