.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px; 
}

.form-row {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-bottom: 16px; /* Space between rows */
}

mat-form-field {
    width: 100%; /* Ensure full width for input fields */
    margin-bottom: 16px; /* Space between input fields */
}



.form-actions {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
    width: 100%; 
}

button {
    margin: 0 8px; 
}
