.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 3em;
  background-color: #333;
  color: white;
  width: 100%;
  box-sizing: border-box;
  height: 70px;

  .logo img {
    height: 60px;
    width: auto;
    margin-right: 20px;
  }

  // nav {
  //   display: flex;
  //   flex-grow: 1;
  //   justify-content: flex-start;
  //   margin-left: 20px;

  //   a {
  //     color: white;
  //     text-decoration: none;
  //     margin-right: 20px;
  //     font-weight: bold;
  //     &.active {
  //       border-bottom: 2px solid white;
  //     }
  //   }
  // }
}
